@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');


/* Primera palabra en negrita */
.bold {
    font-weight:bold;
    }

/* Estilos Header */

#logo {
    width: 100px;
    height: 100px;
}

.menu {
    font-size: 22px;

}

/* Estilos index.html */

#complejo {
    background: url(images/complejo.jpeg) center center / cover no-repeat;
    color: white
}

#complejo p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#complejo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right top, #00000099, #00000091,#0000006a,#0000005e, #0000002d, #0000000c, #50505000);
    z-index: -1;
}

#complejo h1, #futbol h1, #ubicacion h1, #contacto h1, #reserva h1, #tenis h1 {
    font-weight: bold;
    color: white;
}

/* Estilos imagenes */

.imagebox {
    border: 10px groove rgb(2, 250, 221);
    max-width: 100%;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    text-align: center;
}

.imagebox a img {
    max-width: 100%;
}

.imagebox img {
    opacity: 1;
    transition: 0.5s opacity;
}

.imagebox .imagebox-desc {
    background-color: rgba(10, 195, 195, 0.6);
    bottom: 0px;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    left: 0px;
    position: absolute;
    transition: 0.5s padding;
    text-align: center;
    width: 100%;
}

.imagebox:hover img {
    opacity: 0.8;
}

.imagebox:hover .imagebox-desc {
    padding-bottom: 10%;
}

/* Estilos tenis.html */

#tenis {
    background: url(images/tenis-fondo.jpg);
    color: white
}

/* Estilos futbol.html */

#futbol {
    background: url(images/futbol-fondo.jpg)
}

#futbol::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right top, #000000bd, #00000091,#0000006a,#0000005e, #0000002d, #0000000c, #50505000);
    z-index: -1;
}

.table-title {
    font-size: 25px;
}

table {
    margin: 70px 0px;
}

/* Estilos ubicacion.html */

#ubicacion {
    background: url(images/ubicacion-fondo.jpg);
}

#ubicacion::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right top, #000000bd, #00000091,#0000006a,#0000005e, #0000002d, #0000000c, #50505000);
    z-index: -1;
}

.texto-ubicacion {
    align-self: center;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: white;
}

@media only screen and (max-width: 768px) {
    .texto-ubicacion {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    
}

.mapa iframe {
    width: 85%;
}

/* Estilos contacto.html */

#rocket {
    margin-top: 100px;
}

#formulario {
    padding-top: 20px;
}

#contacto {
    background: url(images/contacto.jpg) center center / cover no-repeat;
}

.contact-form {
    width: 70%;
}

.contact-form .form-control {
    border-radius:1rem;
}

.contact-image {
    text-align: center;
}

.contact-image img {
    border-radius: 6rem;
    width: 11%;
    transform: rotate(29deg);
}

.contact-form form {
    padding: 9%;
}

.contact-form h2 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: white;
}

.contact-form .btnContact {
    width: max-content;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

/* Estilos resvera.html */

#reserva {
    background: url(images/reserva-fondo.jpg);
}

.boton-comprar input{
    margin-top: 30px;
    padding: 10px;
    font-size: 25px;
    border-radius: 10px;
}

.modal-body {
    height: 450px
}

.nav-tabs {
    border:none !important
}

.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff #ffffff #fff;
    border-top: 3px solid blue !important
}

.nav-tabs .nav-link {
    margin-bottom: -1px;
    border: 1px solid transparent;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    border-top: 3px solid #eee;
    font-size: 20px
}

.nav-tabs .nav-link:hover {
    border-color: #e9ecef #ffffff #ffffff
}

.nav-tabs {
    display: table !important;
    width: 100%
} 

.nav-item {
    display: table-cell
}

.form-control {
    border-bottom: 1px solid #eee !important;
    border:none;
    font-weight: 600
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8bbafe;
    outline: 0;
    box-shadow: none

}

.inputbox {
    position: relative;
    margin-bottom: 20px;
    width: 100%
}

.inputbox span {
    position: absolute;
    top: 7px;
    left: 11px;
    transition: 0.5s
}

.inputbox i {
    position: absolute;
    top: 13px;
    right: 8px;
    transition: 0.5s;
    color: #3F51B5
}

.ancho-label {
    width: 50%;
    margin-bottom: 30px;
}

#labels {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.bloqueado input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    background: rgb(207, 207, 207);
}

/* Estilos Footer */

@media only screen and (max-width: 768px) {
    .footer-box{
        padding-bottom: 50px;
        align-items: center;
    }
    
}

footer {
    padding-top: 15px;
    margin-top: 30px;
}

.footer-box {
    display: flex;
    flex-direction: column;
}

.footer-box .mapa {
    margin-bottom: 5px;
    width: 125px;
    height: 125px;
}

.footer-box .map {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-box .map a{
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-box a {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    font-size: 25px;
}

.footer-box p {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
}