@import '../base/variables';

#complejo {
    background: url(../images/complejo-fondo.jpeg) center center / cover no-repeat;

    p {
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-weight: bold;
        color: $color-general;
    }
}

.imagebox {
    border: 10px groove orange;
    max-width: 100%;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    
    .imagebox-desc {
        background-color: rgba(255, 165, 0, 0.6);
        bottom: 0px;
        color: $color-general;
        font-weight: bold;
        font-size: 1.3em;
        left: 0px;
        position: absolute;
        transition: 0.5s padding;
        text-align: center;
        width: 100%;
    }

    img {
        max-width: 100%;
        opacity: 1;
        transition: 0.5s opacity;
    }

    &:hover {
        img {
            opacity: 0.8;
        }

        .imagebox-desc {
            padding-bottom: 10%;
        }
    }
}
