#ubicacion {
    background: url(/images/ubicacion-fondo.jpg);

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right top, #000000bd, #00000091,#0000006a,#0000005e, #0000002d, #0000000c, #50505000);
        z-index: -1;
    }
}

.texto-ubicacion {
    align-self: center;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: white;

    @media only screen and (max-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}

.mapa iframe {
    width: 85%;
}